<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo</title>
    <script src="/scripts/photo.js" defer></script>
</head>

<body>
    <a href="/about"> about </a>
    <input id="author" placeholder="user">
    <button type="button" onclick="Show()">Завантажити</button>
    <h2 id="phototitle"> Title </h2>
    <img id="photoimg" src="#">
    <p id="photolikes"></p>

</body>

</html>